.container {
    width: 600px;
    background-color: #c8c8c8;
    border-radius: 10px;
    border-style: groove;
    border: solid;
    margin: 50px;
    font-family: "Tahoma";
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
}

h1 {
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}

section {
    display: block;
    padding: 5px;
    border: solid 1px #ffffff;
    margin: 2px;
    margin-top: 15px;

}

fieldset {
    display: block;
    
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

legend { 
    position: relative;
        top: -1em;
    background-color: #c8c8c8;
}

