.container {
    margin: 10px auto;
    
    font-size: 14px;

}

table {
    margin: 15px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.cabecalho th{
    background-color: rgb(0, 180, 0);
    padding: px;
    border: solid rgb(164, 243, 157);
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

td {
    padding: 15px;
    border: solid rgb(164, 243, 157) 1px;
}

.linha {
    background-color: silver;
}